<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFG refund Transaction</title>
    <link rel="stylesheet" href="../../css/admin.css">
    <script src="../../js/script_refundTxn.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../commonClientConfig.js"></script>
</head>
<body>
    <img src="../../icon/Logo.jpg" alt="gamesapp" id="logo">
    <h3>TFG refund Transaction</h3>
    <br><br>
    <label for="security_key">SECURITY KEY:</label>
    <input type="text" id="security_key" name="security_key">
    <label for="refund_txn">TFG Txn Id :</label>
  <input type="text" id="refund_txn" name="refund_txn">
  <button onclick="tfgRefundTxn()">Refund Txn</button>
</body>
</html>